body > header {
  height: 540px;
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #FFFFFF;
  background-color: #357ed1;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}
